.coloredText {
  background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 1s linear infinite;
  margin-left: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.coloredText:hover {
  transform: scale(1.1);
}
