.card-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}

.card-link:hover {
    text-decoration: none;
    transform: scale(1.05);
}

.card-link .card {
    overflow: hidden;
}

.card-link .card img {
    transition: transform 0.3s ease-in-out;
}

.card-link:hover .card img {
    transform: scale(1.05);
}