.video-list {
  list-style: none;
  padding-left: 0;
}

.video-list li {
  margin-bottom: 10px;
}

.video-list li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.video-list li a:hover {
  color: #0056b3;
}