.video-list {
  list-style: none;
  padding-left: 0;
}

.container.mt-5 {
  text-align: center;
    margin: 50px auto;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-list li {
  margin-bottom: 10px;
}

.video-list li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.video-list li a:hover {
  color: #0056b3;
}